:root {
  --branding-color: rgb(111, 117, 95);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
  --secondary-color: rgb(231, 237, 215);
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #272412;
}

p {
  font-weight: normal;
  line-height: 30px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  font-weight: normal;
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  font-weight: normal;
  border-radius: 4px;
}

.project-description {
  padding: 80px 60px;
}

@media (max-width: 960px) {
  .hero {
    padding: 80px 20px;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
